# Build artifacts
.pio/
build/
Release/
*.o
*.so
*.elf
*.dll
*.dylib
*.exe

# Generated / temporary files
*.old
*.bak
sdkconfig.old
__pycache__/

# IDE / editor files
.vscode/
*.suo
*.sdf

# GBA / platform build outputs
*.gba
*.3dsx
*.smdh
*.nacp
*.nro
*.bc
EBOOT.BIN